body{
    font-family: Arial, Helvetica, sans-serif;
}

.Entradas{
    width: 85vw;
}

header{
    display: flex;
    justify-content:space-around
}
.Agg, .Refres, .Delete, .Report, .Help{
    display: flex;
    align-items: center;
}

.Agg:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Refres:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Delete:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Report:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Help:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.MenuHam{
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: white;
    border: none;
    border-radius: 2em;
    transition: all 300ms ease;
}
.MenuHamburguesa{
    display: none;
}
.MenuHamburguesa i{
    margin-top: 1em;
    transform: scale(2.4)
}
.Añadire{
    display: flex;
    margin-top: 1.4em;
}
#MenuH{
    display: none;
}
.MenuHam a{
    display: none;
}
#MenuH:checked~.MenuHam{
    height: 20em;
    width: 10em;
    border: 1px solid black;
}
#MenuH:checked~.MenuHam a{
    display: block;
}

header a{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.Perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Line{
    background-color: gray;
    height: 0.1em;
}
#Pedro{
    display: none;
}
.Logout h4{
    display: none;
    padding: 0em 0em 0em 1em;
}
.Logout a{
    display: none;
}

#Pedro:checked ~ .Logout {
    height: 10em;
    border: 1px solid black;
    border-radius: 2em;
}
#Pedro:checked ~ .Logout h4{
    display: block;
}
#Pedro:checked ~ .Logout a{
    display: block;
}
.Logout{
    transition: all 300ms ease;
    height: 0em;
    width: 15em;
    background-color: white;
    border: none;
    position: absolute;
    top: 4em;
    margin-left: -6em;
}
#lIndicador{
    font-size: 1.5em;
}

.lele{
    font-size: 1.3em;
}

.Linea{
    background-color: gray;
    height: 0.1em;
}
.Text{
    text-align: center;
}
.E1, .E2, .E3, .E4, .E5, .E6, .E7, .E8, .E9{
    background-color: rgb(216, 216, 216);
    width: 20em;
    height: 10em;
    text-align: center;
    border-radius: 1em;
    border: 1px solid #c7c7c7;
    margin-bottom: 2em;
    margin: 1em;
}
.E1 input ,.E2 input, .E3 input, .E4 input, .E5 input, .E6 input, .E7 input, .E8 input, .E9 input{
    border: none;
    height: 1.7em;
    border-radius: 1em;
}
.Entradas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Btn{
    margin-top: 2em;
    text-align: center;
    margin-bottom: 4em;
}

.Btn:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Btn a{
    text-decoration: none;
    color: white;
    background-color: #ff6f2c;
    padding: 1em 3.5em;
    border-radius: 2em;
}

.casa{
    width: 2.5em;
    height: 2.5em;
}
@media screen and (max-width:800px) {
    #Res{
        display: none;
    }
}  

@media screen and (max-width:800px) {
    .MenuHamburguesa{
        display: block;
    }
    .Agg a{
        display: none;
    }
    .Refres a{
        display: none;
    }
    .Delete a{
        display: none;
    }
    .Report a{
        display: none;
    }
    .Help a{
        display: none;
    }
    .Inp a{
        display: none;
    }
} 