body{
    font-family: Arial, Helvetica, sans-serif;
}

.Entradas{
    padding-left: 10em;
    width: 100em;
}

header{
    display: flex;
    justify-content:space-around
}
.Agg, .Refres, .Delete, .Report, .Help{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}

#lIndicador{
    font-size: 1.5em;
}

.lele{
    font-size: 1.3em;
}

.Linea{
    background-color: gray;
    height: 0.1em;
}
.Text{
    text-align: center;
}
.E1, .E2, .E3, .E4, .E5, .E6, .E7, .E8, .E9{
    background-color: rgb(216, 216, 216);
    width: 20em;
    height: 10em;
    text-align: center;
    border-radius: 1em;
    border: 1px solid #c7c7c7;
    margin-bottom: 2em;
}
.E1 input ,.E2 input, .E3 input, .E4 input, .E5 input, .E6 input, .E7 input, .E8 input, .E9 input{
    border: none;
    height: 1.7em;
    border-radius: 1em;
}
.Entradas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Btn{
    margin-top: 2em;
    text-align: center;
}
.Btn a{
    text-decoration: none;
    color: white;
    background-color: #ff6f2c;
    padding: 1em 3.5em;
    border-radius: 2em;
}