body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
}
.Agg, .Refres, .Delete, .Report, .Help{
    display: flex;
    align-items: center;
}
.Perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    text-decoration: none;
    color: black;
    margin-left: 1em;
}
.Line{
    background-color: gray;
    height: 0.1em;
}
#Pedro{
    display: none;
}
.Logout h4{
    display: none;
    padding: 0em 0em 0em 1em;
}
.Logout a{
    display: none;
}

#Pedro:checked ~ .Logout {
    height: 10em;
    border: 1px solid black;
    border-radius: 2em;
}
#Pedro:checked ~ .Logout h4{
    display: block;
}
#Pedro:checked ~ .Logout a{
    display: block;
}
.Logout{
    transition: all 300ms ease;
    height: 0em;
    width: 15em;
    background-color: white;
    border: none;
    position: absolute;
    top: 4em;
    margin-left: -6em;
}
.Text{
    text-align: center;
}
.Content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
    border: rgb(224, 224, 224) solid 2px;
    border-radius: 1em;
    width: 50%;
    height: 30em;
}
.Indicador{
    text-align: start;
    line-height: 3.5em;
}
.Categoria{
    text-align: center;
    line-height: 3.5em;
}
.Area{
    text-align: center;
    line-height: 3.5em;
}
.Eliminar{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.5em;
}
.Eliminar img{
    margin-bottom: 0.7em;
    margin-top: 1em;
}
.Btn{
    text-align: center;
}
.Btn a{
    text-decoration: none;
    color: white;
    background-color: #ff6f2c;
    padding: 0.6em 3.5em;
    border-radius: 2em;
}

#eli1{
    font-size: 1.3em;
}

#Aqui{
    font-size: 1em;
}

.Content{
    font-size: 1.2em;
}

#in1{
    font-size: 1.5em;
}

#in2{
    font-size: 1.5em;
}

#in3{
    font-size: 1.5em;
}

#in4{
    font-size: 1.5em;
}

@media screen and (max-width:1100px) {
    .Categoria{
        display: none;
    }
}
@media screen and (max-width:800px) {
    .Content{
        width: 80%;
    }
    .Area{
        display: none;
    }
    header a{
        display: none;
    }
} 

@media screen and (max-width:800px) {
    
    
}