body{
    background-image: url(/images/pexels-pixabay-159400.png);
    background-repeat: repeat;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.ContainerP{
    margin-top: 4em;
    overflow: hidden;
}
.Container{
    margin: -30em auto;
    width: 10em;
}
.Imagen{
    animation: Login 5s linear 0s;
    visibility: hidden;
    position: absolute;
}
.Imagen img{
    width: 10em;
}
@keyframes Login {
    0%{
        visibility: visible;
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.cuadroBlanco{
    border-radius: 2em;
    background-color: white;
    width: 40em;
    margin-top: 2em;
    animation: Cuadro 6s linear;
}
.hola{
    display: flex;
    flex-direction: column;
}
@keyframes Cuadro {
    0%{
        opacity: 0;
    }
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#foto{
    margin-top: 2em;
    width: 5em;
    height: 5em;
}

#Bienvenido{
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.8em;
}

#porfa{
    font-size: 0.8em;
    opacity: 0.7;
}

.recurso1{
    text-align: left;
    padding-left: 5em;
}

#usuario{
    font-size: 1.2em;
    opacity: 0.6;
}

#input1{
    width: 32em;
    height: 3em;
    border: rgb(205, 205, 205) solid 1.7px;
    border-radius: 1em;
}

.recurso2{
    text-align: left;
    padding-left: 5em;
}

#Contraseña{
    font-size: 1.2em;
    opacity: 0.6;
}

#input2{
    width: 32em;
    height: 3em;
    border: rgb(205, 205, 205) solid 1.7px;
    border-radius: 1em;
}

.boton{
    margin-top: 2em;
}

#ingresa{
    text-decoration: none;
    color: white;
    background-color: #ff6f2c;
    padding:0.8em 4em;
    border-radius: 2em;
}

#tienesPro{
    padding-left: 4em;
    padding-right: 4em;
    text-align: center;
    margin-top: 4em;
    font-size: 0.6em;
    opacity: 0.6;
}
@media screen and (max-width:800px) {
    .cuadroBlanco{
        width: 80%;
        margin-bottom: 2em;
    }
    .recurso1{
        padding-left: 2em;
    }
    #input1{
        width: 90%;
    }
    .recurso2{
        padding-left: 2em;
    }
    #input2{
        width: 90%;
    }
}