body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Agg, .Refres, .Delete, .Report, .Help{
    display: flex;
    align-items: center;
}

.Agg:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Refres:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Delete:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Report:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

.Help:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

header a{
    margin-left: 1em;
    text-decoration: none;
    color: black;
}
.Perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Perfil i{
    margin: 0em 1.5em 0em 0.2em;
}

.MenuHam{
    position: absolute;
    top: 4em;
    left: 1em;
    background-color: white;
    border: none;
    border-radius: 2em;
    transition: all 300ms ease;
}
.MenuHamburguesa{
    display: none;
}
.MenuHamburguesa i{
    margin-top: 1em;
    transform: scale(2.4)
}
.Añadire{
    display: flex;
    margin-top: 1.4em;
}
#MenuH{
    display: none;
}
.MenuHam a{
    display: none;
}
#MenuH:checked~.MenuHam{
    height: 20em;
    width: 10em;
    border: 1px solid black;
}
#MenuH:checked~.MenuHam a{
    display: block;
}

.barra{
    height: 0.1vw;
    background-color: gray;
}
#Pedro{
    display: none;
}
.Logout h4{
    display: none;
    padding: 0em 0em 0em 1em;
}
.Logout a{
    display: none;
}

#Pedro:checked ~ .Logout {
    height: 10em;
    border: 1px solid black;
    border-radius: 2em;
}
#Pedro:checked ~ .Logout h4{
    display: block;
}
#Pedro:checked ~ .Logout a{
    display: block;
}
.Logout{
    transition: all 300ms ease;
    height: 0em;
    width: 15em;
    background-color: white;
    border: none;
    position: absolute;
    top: 4em;
    margin-left: -6em;
}
.Reportar{
    text-align: center;
}

#jj{
    font-size: 1.8em;
}

#siti{
    font-size: 1.2em;
}

.cuadro1{
    text-align: center;
    border: rgb(197, 197, 197) solid 1px;
    border-radius: 1em;
    width: 36em;
    height: 32em;
    margin-bottom: 3em;
    padding-bottom: 3em;   
}

#input1 {
    border: #ff6f2c solid 1px;
    margin-top: 3vw;
    border-radius: 0.3vw;
    width:30em;
    height: 10em;
}

#repor{
    font-size: 1.8em;
    margin-top: 2vw;
}

#porfavor{
    padding-left: 6em;
    padding-right: 6em;
    font-size: 1.3em;
    text-align: center;
    margin-top: 2vw;
}

.boton1{
    margin-top: 3em;
    border-radius: 2em;
}

.boton1:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

#vinculo{
    border-radius: 1em;
    text-align: center;
    padding: 1em 3em;
    background-color: #ff6f2c;
    color: white;
    text-decoration: none;
}

.cuadros{
    display: flex;
    margin-top: 3vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cuadro2{
    text-align: center;
    border: rgb(197, 197, 197) solid 1px;
    border-radius: 1em;
    width: 36em;
    height: 32em;
    padding-bottom: 3em;   
}

#comunicate{
    font-size: 1.8em;
    margin-top: 2em;
    padding-left: 6em;
    padding-right: 6em;
}

#LAcomuni2{
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1vw;
    font-size: 1.3em;
}

#primero{
    margin-top: 2em;
}

#telefono{
    font-size: 1.5em;
    color: #ff6f2c;
}

#telefono2{
    font-size: 1.5em;
    color: #ff6f2c;
}

.cajaa1{
    padding-left: 6em;
    padding-right: 6em;
    display: flex;
    justify-content: space-evenly;
}

#correo{
    font-size: 1.5em;
    color: #ff6f2c;
}

#gmail{
    margin-top: 1.9em;
    width: 3em;
    height: 3em;
}

.cajaa2{
    padding-left: 7em;
    padding-right: 4em;
    justify-content: space-evenly;
    display: flex;
}

#telefono2{
    padding-right: 2em;
}

.boton2{
    margin-top: 3em;
    border-radius: 2vw;
    margin-bottom: 4em;
}

#vinculo2{
    border-radius: 1em;
    text-align: center;
    padding: 1em 3em;
    background-color: #ff6f2c;
    color: white;
    text-decoration: none;
}

.boton2:hover{
    transition: all 300ms ease;
    transform: scale(1.1);
}

#casita{
    width: 2.5em;
    height: 2.5em;
}

@media screen and (max-width:800px) {
    #a1 , #a2 , #a3 , #a4 , #a5{
        display: none;
    }
}

@media screen and (max-width:509px) {
    .cuadro2{
        width: 29em;
        height: 34em;
    }

    #comunicate{
        padding-left: 3em;
        padding-right: 3em;
    }

    #telefono2{
        padding-left: 1.5em;
    }
}

@media screen and (max-width:430px) {
    .cuadro2{
        width: 25.5em;
    }
}

@media screen and (max-width:800px) {
    .MenuHamburguesa{
        display: block;
    }
    .Agg a{
        display: none;
    }
    .Refres a{
        display: none;
    }
    .Delete a{
        display: none;
    }
    .Report a{
        display: none;
    }
    .Help a{
        display: none;
    }
    .Inp a{
        display: none;
    }
} 